* {
    margin: 0;
    padding: 0;
    border: 0;
}

#CadConteiner{
    height: 100vh;
    align-content: center;
}

#formularioCad{
    width: 500px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px gray;
    transition: all ease 500ms;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
}

.inputForm{
    margin: 10px;
    width: 400px;
    height: 50px;
    font-size: 15px;
    background-color: aliceblue;
    padding: 2px;
}

.inputForm:focus{
    outline: none;
}

#anexaFt{
    margin: 20px;
}

#botaoEnviar{
    height: 30px;
    width: 300px;
    background-color: rgb(42, 13, 68);
    color: whitesmoke;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

#botaoEnviar:hover{
    cursor: pointer;
}

img{
    width: 300px;
    height: 300px;
}