#MainLogin{
    background-image: url('../../../public/assets/arvores.jfif');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#ConteinerForm{
    position: fixed;
    width: 100%;
    height: 350px;
    bottom: 0;
    background-color: var(--CorPrimaria);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
}

#form label{
    color: var(--CorSegundaria);
    font-weight: 500;
    display: block;
    width: 70%;
    margin: 5px auto;
}



#entrar_1{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    background-color: var(--CorSegundaria);
    color: white;
    border-radius: 10px;
    height: 50px;
    box-shadow: 1px 1px 3px gray;
}

#conteinerSpan{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--CorSegundaria);
}

#esqueciSnh{
    font-size: 14px;
    font-weight: 500;
}

#NovoUSer{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

#NovoUSer a{
    text-decoration: none;
    font-weight: 800;
    color: var(--CorSegundaria);
}

#imgDesktopVersion{
    display: none;
}


.divInput{
    display: flex;
    margin-bottom: 10px;
    background-color: whitesmoke;
    height: 20px;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0px 1px 3px gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inptlogin{
    outline: none;
    background-color: whitesmoke;
    width: 100%;
    padding-left: 10px;
    color: var(--CorTexto);
    font-size: 14px;
    font-weight: lighter;
}

#olhoBTN1{
    height: 100%;
    width: 10%;
}

#olhoBTN1 svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#telaPreta1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


@media(min-width: 630px) {

    #MainLogin{
        background-image: url('../../../public/assets/arvores.jfif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        height: 100vh;
        width: 100vw;
    }

    #telaPreta{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #ConteinerForm{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 700px;
        height: 500px;
        border-radius: 20px;
        box-shadow: 2px 2px 5px black;
    }

    #imgDesktopVersion{
        display: block;
        height: 100%;
        width: 50%;
        border-radius: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;   
    }

    #formularioEtexto{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #form{
        width: 50%;
    }
}