#MainLogin{
    background-image: url('../../../public/assets/arvores.jfif');
    background-size: cover;
}

#ConteinerForm{
    position: fixed;
    width: 100%;
    height: 350px;
    bottom: 0;
    background-color: var(--CorPrimaria);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
    align-items: center;
}

#form label{
    color: var(--CorSegundaria);
    font-weight: 500;
}

#form input{
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: var(--CorTexto);
    font-size: 14px;
    height: 20px;
    width: 250px;
    padding: 10px;
    font-weight: lighter;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px gray;
}

#entrar_1{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    background-color: var(--CorSegundaria);
    color: white;
    border-radius: 10px;
    height: 50px;
    box-shadow: 1px 1px 3px gray;
}

#conteinerSpan{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--CorSegundaria);
}

#esqueciSnh{
    font-size: 14px;
    font-weight: 500;
}

#NovoUSer{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

#NovoUSer a{
    text-decoration: none;
    font-weight: 800;
    color: var(--CorSegundaria);
}