:root{
    --CorSegundaria: #000000ff;
    --CorTexto: #586f7cff;   
    --CorPrimaria:#b8dbd9ff;
    --CorDoBotao:#f4f4f9ff;
}

hr{
    margin: 5px auto;
    width: 95%;
    border: 0.5px solid black;
}

#infoUser{
    display: flex;
    flex-direction: column;
}

#infoUser img{
    width: 100px;
    height: 100px;
}

#contadores{
    display: flex;
    margin-left: 10px;
}

#textos{
    margin: 10px;
}

#legendas{
    display: flex;
    flex-direction: row;
    margin: 5px;
    gap: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

#conteinerHamburguer{
    justify-self: end;
}

#hamburguer2{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: var(--CorSegundaria);
}
#BThamburguer2{
    background-color: var(--CorPrimaria);
}

#nomeP{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

#infoUser p {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 50px;
}

#Posts h1{
    margin: 5px;
}

#imgs{
    display: flex;
    margin: 0 10px;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    background-color: var(--CorPrimaria);
}

.blocoFT{
    border-radius: 5px;
    width: 170px;
}

#footer{
    width: 100%;
    height: 60px;
    margin-top: 5px;
}

#janelaFoto{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1010;
    background-color: var(--CorPrimaria);
}

#fotoMaior{
    width: 100%;
    height: 400px;
    border-radius:0;
}

#coraçao{
    display: flex;
    flex-direction:row;
    align-items: center;
}

#coraçao svg{
    width: 30px;
    height: 30px;
}

#headerjanelaFoto{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    box-shadow: 1px 1px 3px black;
    background-color: var(--CorSegundaria);
    color: var(--CorDoBotao);
}

#headerjanelaFoto span{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

#headerjanelaFoto svg{
    height: 100%;
    width: 20px;
}

#contComent{
    height: 150px;
    overflow: scroll;
}

#legendaPost{
    margin-left: 5px;
}