#MainRegister{
    background-image: url('../../../public/assets/arvores.jfif');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#FTuser{
    box-shadow: 0px 1px 3px gray;
}

#divFT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
}

#anexaFt{
    position: fixed;
    width: 100%;
    height: 100px;
    opacity: 0;
}

#divInputs{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--CorPrimaria);
    width: 100%;
    height: 400px;
    padding-top: 20px;
    bottom: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.inputForm{
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: var(--CorTexto);
    font-size: 14px;
    height: 20px;
    width: 60%;
    padding: 10px;
    font-weight: lighter;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px gray;
}

#telaPreta{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#form1 label{
    color: var(--CorSegundaria);
    font-weight: 500;
    display: block;
    width: 250px;
    margin-bottom: 2px;
    text-align: start;
}

#botaoEnviar{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--CorSegundaria);
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    box-shadow: 2px 2px 3px gray;
}

#login{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--CorSegundaria);
}

#login a{
    text-decoration: none;
    font-weight: 800;
    color: var(--CorSegundaria);
}

#divSenha{
    display: flex;
    margin-bottom: 10px;
    background-color: whitesmoke;
    height: 20px;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px gray;
}

#inputSenha{
    outline: none;
    background-color: whitesmoke;
    width: 90%;
    padding: 0;
    color: var(--CorTexto);
    font-size: 14px;
    font-weight: lighter;
}

#olhoBTN{
    height: 100%;
    width: 10%;
}

#olhoBTN svg{
    width: 20px;
    height: 20px;
}


@media (min-width:630px){

    #MainRegister{
        background-image: url('../../../public/assets/arvores.jfif');
        background-size: cover;
        background-position:center;
        height: 100vh;
        width: 100vw;
    }

    #divInputs{
        position: relative;
        border-radius: 0;
        border-bottom-left-radius: 20px;
    }

    #divFT{
        background-color: var(--CorPrimaria);
        border-top-left-radius: 20px;   
    }

    #ConteinerForm1{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 800px;
        height: 600px;
        border-radius: 20px;
        box-shadow: 2px 2px 5px black;
    }

    #form1{
        width: 50%;
   }

   
}