* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    --CorMenu: #000000ff;
    --CorTexto: #586f7cff;   
    --CorInput:#b8dbd9ff;
    --CorFundo:#f4f4f9ff;
    --CorBotao:#04724dff;
}

#CadConteiner{
    height: 100vh;
    align-content: center;
    background-color: var(--CorInput);
}

#BemVindo{
    text-align: center;
}

#formularioCad{
    justify-items: center;    
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.inputForm:focus{
    outline: none;
}

#anexaFt{
    margin: 20px;
}

#botaoEnviar:hover{
    cursor: pointer;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.inputForm{
   background-color: var(--CorInput);
   border-bottom: 2px solid var(--CorFundo);
   font-size: 14px;
   font-weight: lighter;
   margin-top: 20px;
   width: 250px;
   padding: 2px;
}

#botaoEnviar{
    background-color: var(--CorMenu);
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    color: var(--CorFundo);
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

#inputDate{
    background-color: var(--CorInput);
}

#labelDate{
    color: var(--CorTexto);
    background-color: var(--CorInput);
    border-bottom: 2px solid var(--CorFundo);
    font-size: 14px;
    font-weight: lighter;
    margin-top: 20px;
    width: 250px;
    padding: 2px;;
}

#Rmodal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(3, 1, 14,0.2);
    z-index: 99;
    top: 0;
    justify-items: center;
    align-content: center;
}

#load{
    width: 30px;
    height: 30px;
    background-color: var(--CorBotao);
    border-radius: 50%;
    transition: all 1000ms;
    animation: loading 700ms infinite;
}

@keyframes loading {
    0%{ transform: scale(1.06); }
    25%{ transform: scale(1.09); }
    50%{ transform: scale(1.12); }
    75%{ transform: scale(1.15); }
    100%{ transform: scale(1.2); }
}