.contComentario{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-bottom: 10px;
}

.fotoDono{
    width: 40px;
    height: 40px;
}

.user{
    font-size: 14px;
    font-weight: 600;
    color: var(--CorDoBotao);
}

#comentarios{
    height: 65vh;
    margin: 10px 0;
    overflow: scroll;
}

#comentarios dt{
    margin-left: 10px;
}

#comentarios dd{
    margin-left: 15px;
    margin-bottom: 10px;
}
