#conteinerDel{
    position: fixed;
    top: 0;
    z-index: 1002;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalDel{
    width: 200px;
    height: 200px;
    padding: 50px;
    box-shadow: 1px 1px 3px black;
    background-color: var(--CorSegundaria);
    text-align: center;
    border-radius: 15px;
}

#modalDel button{
    width: 100px;
    height: 30px;
    margin: 5px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    cursor: pointer;
}

#confirmDel{
    background-color: green;
    font-weight: 700;
    color: whitesmoke;
}

#NegaDel{
    background-color: red;
    font-weight: 700;
    color: whitesmoke;
}

#h3Del{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    color: var(--CorDoBotao);
}