@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --CorSegundaria: #000000ff;
    --CorTexto: #586f7cff;   
    --CorPrimaria:#b8dbd9ff;
    --CorDoBotao:#f4f4f9ff;
}

*{
    font-family: 'Inter';
}

#BEM{
    color: white;
    background-color: var(--CorSegundaria);
}

.titulo{
    width: 300px;
    font-size: 72px;
    display: block;
    padding-left: 10px;
}

#conteinerInicial{
    height: 100vh;
    background-color: var(--CorPrimaria) ;
}

#paragrafo{
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    width: 300px;
    text-align: start;
    margin: 20px 0 ;
    background-color: var(--CorSegundaria);
    color: var(--CorDoBotao);
    padding: 20px;
}

#conteinerBTN{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jaConta{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.botao{
    font-size: 20px;
    width: 250px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px black;
    font-weight: bold;
}

#comecar a{
    color: var(--CorSegundaria);
}

#entrar{
    color: white;
    background-color: var(--CorSegundaria);
    margin-top: 5px;
}