@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html{
    scroll-behavior: smooth;
}

:root{
    --CorSegundaria: #000000ff;
    --CorTexto: #586f7cff;   
    --CorPrimaria:#b8dbd9ff;
    --CorDoBotao:#f4f4f9ff;
}

#conteinerFeed{
    font-family: 'Inter';
}

#hamburguer{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: var(--CorDoBotao);
}

#HeaderFeed{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--CorDoBotao);
    background-color: var(--CorSegundaria);
    font-size: 15px;
    font-weight: 600;
    height: 75px;
    z-index: 998;
}

#HeaderFeed span{
    display: flex;
    align-items: center;
    padding: 10px;
}

#HeaderFeed span img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

#MainFeed{
    height: auto;
}

#vazio{
    height: 75px;
}


#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--CorPrimaria);
    z-index: 999;
    transition: all ease 2000ms;
}

#botoes{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px; 
    justify-content: center;
}

#botoes a{
    color: var(--CorDoBotao);
    text-decoration: none;
}

#back{
    display: block;
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

#modal div span{
    background-color: var(--CorSegundaria);
    color: var(--CorDoBotao);
    font-size: 15px;
    font-weight: 700;
    margin: 10px 20px;
    border-radius: 10px;
    padding: 15px;
}

#botoes button{
    background-color: var(--CorPrimaria);
}

#BThamburguer{
    background-color: var(--CorSegundaria);
}

.cabecalhoPost{
    display: flex;
    align-items: center;
    margin: 10px;
}

.cabecalhoPost span{
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-left: 10px;
}

.fotoP{
    width: 40px;
    height: 40px;
}

.imgPost{
    margin-bottom: 30px;
}

.imgPost img{
    border-radius: 0;
    width: 100%;
    height: 400px;
}

.comentPost{
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 18px;
}

.imgPost svg{
    width: 25px;
    height: 25px;
}

.curtida{
    color: rgb(0, 0, 0);
    margin-left: 5px ;
}

.tres{
    display: flex;
    align-items: center;
}

.comentario{
    margin-left: 10px;
    color: var(--CorSegundaria);
}

#ModalSair{
    position: fixed;
    justify-items: center;
    align-content: center;
    background-color:rgba(0, 0, 0, 0.4);
    z-index: 1000;
    width: 100%;
    height: 100%;
}

#confirmaSair{
    width: 300px;
    height: 300px;
    background-color: var(--CorPrimaria);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    justify-items: center;
    align-content: center;
}

#confirmaSair p{
    font-size: 25px;
    font-weight: 800;
}

#BTNs{
    margin: 30px;
}

#BTNs button{
    width: 100px;
    height: 30px;
    margin: 0 10px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
}

#BTNcancel{
    background-color: red;
    font-weight: 700;
}

#BTNconfirm{
    background-color: green;
    font-weight: 700;
}

#BTNconfirm a{
    text-decoration: none;
    color: black;
}

#conteinerComent{
    position: absolute;
    z-index: 1001;
    background-color: rgb(3, 82, 85,1);
    width: 100vw;
    height: 80vh;
    margin-top: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 1px 3px black;
}



#digitaComent{
    display: flex;
    width: 100%;
    height: 5%;
    border: 1px solid black;
    font-size: 22px;
    align-content: center;
}

#digitaComent input{
    width: 85%;
    outline: none;
}

#digitaComent button{
    width: 15%;
    background-color: var(--CorTexto);
    height: 100%;
}

#conteinerComent button svg{
    width: 20px;
    height: 20px;
}

#sairComent{
    margin: 5px 10px;
    background-color: #035255;
}