#conteinerFeed{
    font-family: 'Inter';
}

#hamburguer{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: var(--CorDoBotao);
}

#HeaderFeed{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--CorDoBotao);
    background-color: var(--CorSegundaria);
    font-size: 15px;
    font-weight: 600;
    height: 75px;
    z-index: 998;
}

#HeaderFeed span{
    display: flex;
    align-items: center;
    padding: 10px;
}

#HeaderFeed span img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

#MainFeed{
    height: auto;
}

#vazio{
    height: 75px;
}


#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--CorPrimaria);
    z-index: 999;
    transition: all ease 2000ms;
}

#botoes{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px; 
    justify-content: center;
}

#botoes a{
    color: var(--CorDoBotao);
    text-decoration: none;
}

#back{
    display: block;
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

#modal div span{
    background-color: var(--CorSegundaria);
    color: var(--CorDoBotao);
    font-size: 15px;
    font-weight: 700;
    margin: 10px 20px;
    border-radius: 10px;
    padding: 15px;
}

#botoes button{
    background-color: var(--CorPrimaria);
}

#BThamburguer{
    background-color: var(--CorSegundaria);
}


#ModalSair{
    position: fixed;
    justify-items: center;
    align-content: center;
    background-color:rgba(0, 0, 0, 0.4);
    z-index: 1000;
    width: 100%;
    height: 100%;
}

#confirmaSair{
    width: 300px;
    height: 300px;
    background-color: var(--CorPrimaria);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    justify-items: center;
    align-content: center;
}

#confirmaSair p{
    font-size: 25px;
    font-weight: 800;
}

#BTNs{
    margin: 30px;
}

#BTNs button{
    width: 100px;
    height: 30px;
    margin: 0 10px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
}

#BTNcancel{
    background-color: red;
    font-weight: 700;
}

#BTNconfirm{
    background-color: green;
    font-weight: 700;
}

#BTNconfirm a{
    text-decoration: none;
    color: black;
}