@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --CorSegundaria: #000000ff;
    --CorTexto: #586f7cff;   
    --CorPrimaria:#b8dbd9ff;
    --CorDoBotao:#f4f4f9ff;
}

#conteinerFeed{
    font-family: 'Inter';
}

#hamburguer{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: var(--CorDoBotao);
}

#HeaderFeed{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--CorDoBotao);
    background-color: var(--CorSegundaria);
    font-size: 15px;
    font-weight: 600;
    height: 75px;
    z-index: 998;
}

#HeaderFeed span{
    display: flex;
    align-items: center;
    padding: 10px;
}

#HeaderFeed span img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

#MainFeed{
    height: auto;
}

#vazio{
    height: 75px;
}


#modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--CorPrimaria);
    z-index: 999;
    transition: all ease 2000ms;
}

#modal div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px; 
    justify-content: center;
}

#back{
    display: block;
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

#modal div span{
    background-color: var(--CorSegundaria);
    color: var(--CorDoBotao);
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
}

#modal div button{
    background-color: var(--CorPrimaria);
}

#BThamburguer{
    background-color: var(--CorSegundaria);
}

.cabecalhoPost{
    display: flex;
    align-items: center;
    margin: 10px;
}

.cabecalhoPost span{
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-left: 10px;
}

.fotoP{
    width: 40px;
    height: 40px;
}

.imgPost{
    margin-bottom: 30px;
}

.imgPost img{
    border-radius: 0;
    width: 100%;
    height: 400px;
}

.imgPost span{
    display: block;
    margin-left: 10px;
}

.imgPost svg{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.curtida{
    color: rgb(0, 0, 0);
}