#hamburguer{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: var(--CorDoBotao);
}

#HeaderFeed{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--CorDoBotao);
    background-color: var(--CorSegundaria);
    font-size: 15px;
    font-weight: 600;
    height: 75px;
    z-index: 998;
}

#HeaderFeed span{
    display: flex;
    align-items: center;
    padding: 10px;
}

#HeaderFeed span img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

#MainFeed{
    height: auto;
}

#vazio{
    height: 75px;
}

#BThamburguer{
    background-color: var(--CorSegundaria);
}

@media (min-width:730px){
    #MainFeed{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    #HeaderFeed{
        display: none;
    }

    #vazio{
        display: none;
    }

}
