#conteinerInput{
    padding-top: 10px;   
    width: 100%;
    justify-items: center;
}

#conteinerInput div{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px black;
    justify-content: space-between;
    border-radius: 5px;
}

#conteinerInput div input{
    height: 100%;
    outline: none;
    width: 90%;
    padding-left: 5px;
    border-radius: 5px;
}

#conteinerInput div button{
    width: 10%;
    background-color: white;
    border-radius: 5px;
}

#conteinerInput div button svg{
    width: 20px;
    height: 20px;
}

#listaUsers{
    position: fixed;
    margin-top: 5px;
    list-style-type: none;
    height: 550px;  
    width: 100%;
    overflow-y: scroll;
}

.blocoPerfil{
    margin: 10px 0; 
    background-color: var(--CorPrimaria);
    box-shadow: 0px 2px 2px black;
    padding: 10px;
}

.NameUser{
    display: block;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.FTuser{
    width: 60px;
    height: 60px;
}

.LinkPerfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}