#conteinerAddfoto{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

textarea{
    resize: none;
}

#conteinerAddfoto div{
    display: flex;
    margin: 0 auto;
    height: 300px;
    justify-self: center;
}

#addFT{
    position: fixed;
    opacity: 0;
    height: 300px;
    width: 100%;
}

#iconePlus{
    margin-top: 150px;
    width: 100px;
    height: 100px;
}

#seta{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    color: black;
}

#textoPost{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
}

#textoPost textarea{
    margin:10px;
    height: 70px;
    padding: 5px;
    border-radius: 10px;
}

#textoPost textarea:focus{
    outline: 0;
}

#textoPost button{
    background-color: black;
    color: whitesmoke;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}

#imgPost{
    border-radius: 10px;
    width: 300px;
    height: 100%;
    margin-top: 0;
}   

@media (min-width:640px){

    #ContFTeForm{
        height: 100vh;
    }

    #conteinerAddfoto div{

        height: 500px;

    }

}