:root{
    --CorSegundaria: #000000ff;
    --CorTexto: #586f7cff;   
    --CorPrimaria:#b8dbd9ff;
    --CorDoBotao:#f4f4f9ff;
}

#formularioUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#conteinerFTuser{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

#conteinerFTuser input{
    position: fixed;
    width: 100%;
    height: 150px;
    opacity: 0;
}

#conteinerInputs{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

#conteinerInputs input{
    background-color: var(--CorPrimaria);
    border-bottom: 1px solid var(--CorDoBotao);
    height: 40px;
    margin-bottom: 10px;
    font-size: 15px;
    outline: none;
}

#conteinerInputs button{
    background-color: var(--CorSegundaria);
    font-size: 20px;
    color: var(--CorDoBotao);
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}

#backtoFeed{
    width: 100%;
    align-items: start;
}

#backtoFeed svg{ 
    height: 30px;
    width: 30px;
    margin: 10px;
    color: var(--CorSegundaria);
}

#biografia{
    height: 190px;
    padding: 10px;
    resize: none;
    outline: none;
    border-radius: 10px;
    
}