:root{
    --CorSegundaria: #000000ff;
    --CorTexto: #586f7cff;   
    --CorPrimaria:#b8dbd9ff;
    --CorDoBotao:#f4f4f9ff;
}

#formSenha{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#formSenha input{
    width: 90%;
    background-color: var(--CorPrimaria);
    outline: none;
}

#formSenha div{
    height: 30px;
    width: 300px;
    background-color: var(--CorPrimaria);
    border-bottom: 1px solid var(--CorDoBotao);
}

#formSenha div button{
    background-color: var(--CorPrimaria);
}

#BTNsalva{
    margin-top: 20px;
    background-color: var(--CorSegundaria);
    color: var(--CorDoBotao);
    font-size: 20px;
    font-weight: 600;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}
.olho{
    background-color: var(--CorPrimaria);
    height: 20px;
    width: 20px;
}

#voltar svg{
    width: 30px;
    height: 30px;
    margin: 10px;
    color: var(--CorSegundaria);
}

#cadeado{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

#cadeado svg{
    width: 70px;
    height: 70px;
}