#contVoltaFeed{
    position: fixed;
    z-index: 1001;
    width: 100%;
    background-color: var(--CorSegundaria);
    height: 50px;
    box-shadow: 1px 1px 3px black;
}

#contVoltaFeed a{
    color: var(--CorDoBotao);
}

#contVoltaFeed a svg{
    width: 40px;
    height: 40px;
    margin: 5px;
}