#contVoltaFeed{
    position: fixed;
    z-index: 1001;
    width: 100%;
    background-color: var(--CorSegundaria);
    height: 50px;
    box-shadow: 1px 1px 3px black;
}

#contVoltaFeed a{
    display: flex;
    color: var(--CorDoBotao);
    align-items: center;
    text-decoration: none;
}

#contVoltaFeed a svg{
    width: 40px;
    height: 40px;
    margin: 5px;
}

#contVoltaFeed a span{
    font: bold;
}

#Divseguir{
    display: flex;
    width: 100%;
    justify-content: center;
}

#BtnSeguir{
    background-color: var(--CorSegundaria);
    color: var(--CorDoBotao);
    width: 300px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    padding: 5px;
    font-size: 20px;
    font-weight: 700; 
    cursor: pointer;
    margin-bottom: 5px;
}